<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a class="nav-link" rel="tooltip" title="Contact us on Linkedin" data-placement="bottom"
                        href="https://www.linkedin.com/in/felipe-iglesias-b7154090/" target="_blank">
                        <i class="fa fa-linkedin fa-2x"></i>
                        <p class="d-lg-none">Linkedin</p>
                    </a></li>
                    <li><a class="nav-link" rel="tooltip" title="Like us on Vimeo" data-placement="bottom"
                        href="https://vimeo.com/felipeiglesias" target="_blank">
                        <i class="fa fa-vimeo-square fa-2x"></i>
                        <p class="d-lg-none">Vimeo</p>
                    </a></li>
                    <li><a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom"
                        href="https://www.instagram.com/felipeigl3sias/?hl=en" target="_blank">
                        <i class="fa fa-instagram fa-2x"></i>
                        <p class="d-lg-none">Instagram</p>
                    </a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by Matheus Iglesias
                </span>
            </div>
        </div>
    </div>
</footer>
