<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true"
        style="background-image: url('./assets/img/cover-lipe.jpg');">
        <!-- <div class="filter"></div> -->
    </div>
    <div class="section profile-content" style="margin-bottom: -64px;">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="./assets/img/perfil-picture.jpg" alt="Circle Image"
                        class="img-circle img-no-padding img-responsive">
                </div>
                <div class="name">
                    <h4 class="title">Felipe Iglesias<br /></h4>
                    <h6 class="description">Animation Creator</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <p>Hello, I'm a Animator with a focus on bringing characters to Life.
                    I've been working in the industry about 5 years, worked in many companies as MPC Film as a Character Animator in VFX,
                    Vetor Zero with commercials, CasaBlanca with TV Novel, PixelZoo with Series, Reel FX with Feature Films and currently
                    I'm with Agora Studio working on Cinematics and starting a new dream fpunding the Animation Time School.<br>
                    I had the luck to be part of many cool projects.
                    Hope you enjoy it ! </p>
                    <br />
                </div>
            </div>
            <div class="owner">
              <div class="name">
                <h6 class="description">Profiency</h6>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8 ml-auto mr-auto text-center">Maya, Unreal 5, Blender</div>
            </div>
            <br />
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
        <div class="container container-fluid-videos">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide *ngFor="let pic of pictures">
                    <div class="bg-image hover-overlay ripple">
                        <a [routerLink]="['/animation', pic.name.trim()]">
                            <img src="{{pic.thumbnail}}" class="img-thumbnail img-thumbnail-border" alt="..." />
                        </a>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
        <div class="container container-fluid-videos">
            <owl-carousel-o [options]="customOptions2">
                <ng-template carouselSlide *ngFor="let pic of pictures">
                    <div class="bg-image hover-overlay ripple">
                        <a [routerLink]="['/animation', pic.name.trim()]">
                            <img src="{{pic.thumbnail}}" class="img-thumbnail img-thumbnail-border" alt="..." />
                        </a>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>